.jumbotron {
  border-radius: 10px;
  box-shadow: 2px 2px 5px $shadow-color, 10px 10px 15px $shadow-color,
    -1px -1px 30px $shadow-color;
}
.add-to-cart-btn {
  background-color: #dac09d;
  color: #635341;
}
.details-page-btn {
  background-color: #ae967e;
  width: 50%;
  color: #635341;
}
.card {
  border-radius: 20px;
  background-color: #eeeff0c0;
  box-shadow: $box-shadow-one;
  h5 {
    padding: 10px 0 10px 0;
    border: 1px solid $whitey;
    border-left: none;
    border-right: none;
    border-radius: 7px;
  }

  &:hover {
    box-shadow: $box-shadow-two;
    cursor: pointer;
  }
}

.list-group {
  margin-top: 3em;
}
.list-group-item {
  background-color: transparent;
  border-bottom-color: $shadow-color;
}
.badge-secondary {
  background-color: #8fb1ab;
  color: #635341;
}

#jmb-movie-details {
  background-color: #05121dfb;
  color: white;
}
.ship-details-card {
  padding: 5rem;
  box-shadow: $box-shadow-one;
  &:hover {
    box-shadow: $box-shadow-two;
    cursor: pointer;
  }
}
#nav {
  background-color: #020b0fe3;
  border: 1px solid $whitey;
  border-radius: 15px;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;

  .navbar-brand {
    margin-left: 3em;
    color: $whitey;
  }
}

.nav-item {
  list-style-type: none;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 8px;

  a {
    color: $whitey;
  }
  .router-link-active {
    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 10px;
      right: 10px;
      height: 2px;
      background-color: $whitey;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: $whitey;
    opacity: 0;
    transform: translateY(-$distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }

  &:hover,
  &:focus {
    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-box {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .search-box {
    position: relative;
    display: block;
    width: 100%;
    max-width: 53px;
    transition: 0.4s linear;
    overflow: hidden;

    .search-box-input {
      display: block;
      appearance: none;
      width: 100%;

      border: none;
      outline: none;
      border-radius: 50px;

      background-color: #181d20;

      padding: 15px;
      color: #24233a;
      font-size: 20px;
      cursor: pointer;
      transition: 0.4s linear;
      &::placeholder {
        color: #24233a;
      }
    }

    .search-box-icon {
      position: absolute;
      right: calc(53px / 2);
      top: 50%;
      transform: translate(50%, -50%);

      width: 20px;
      height: 20px;

      pointer-events: none;

      path {
        fill: #b9996e;
        transition: 0.4s linear;
      }
    }

    &:focus-within {
      max-width: 300px;
      .search-box-input {
        background-color: $whitey;
        padding-right: 50px;
        box-shadow: inset 0px 0px 10px $shadow-color;
      }
    }
  }
}
.scroll-to {
}
.search-ship-card {
  margin-top: 900px;
  padding: 0;
}
#home-header {
  box-shadow: none;
  background-color: transparent;
  color: $whitey;
  h3 {
  }
  h1 {
    color: #b9996e;
  }
  hr {
    border-color: #b9996e;
  }

  .search-redirector {
    background-color: #b9996e;
    color: $whitey;
    &:hover {
      background-color: #181d2098;
      color: #b9996e;
    }
  }
}
#starships-list-page {
  .jumbotron {
    margin-top: 5rem;
    // background: linear-gradient(to bottom, #04151f2f, #010f1680, #05121d3d),
    //   url('../images/starship-list-bakground.jpg');
    height: 60vh;
    h1 {
      color: $whitey;
      text-align: center;
    }
  }
}

#starships-search-bar {
  margin-top: 5rem;
  .form-control {
    border-radius: 50px;
    background-color: $whitey;
  }
  select {
    border-radius: 50px;
    background-color: $whitey;
  }
}

#home-parralax {
  .para-image-1,
  .para-image-2,
  .para-image-3 {
    position: relative;
  }
  height: 100vh;
  .para-image-1 {
    background-image: $background-color, $home-image;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    span {
      color: #b9996e;
    }
  }
  .para-image-2 {
    background-image: linear-gradient(to right, #09181a88, #0b1c1f9c, #09171a18),
      $home-2-background;
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .para-image-3 {
    background-image: linear-gradient(to left, #09181a65, #0b1c1f83, #09171a48),
      $home-3-background;
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section {
  text-align: center;
  padding: 50px 80px;
  p {
    font-size: 24px;
  }
  &.section-light {
    background-color: #f4f4f4;
    color: #333;
  }
  &.section-dark {
    background-color: #f4f4f4;
    color: #666;
  }
}
.para-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 37px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.para-text .borders {
  background-color: #181d2044;
  color: #fff;
  padding: 20px;
  &.trans {
    background-color: transparent;
  }
}

// @media (max-width: 568px) {
//   .para-image-1 .para-image-2 .para-image-3 {
//     background-attachment: scroll;
//   }
// }
