* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$starships-background: url('../images/1.jpg');
$background-color: linear-gradient(to left, #38637c00, #010f168a, #05121dfb);

body {
  font-family: 'Proxima Nova', Verdana, 'Avenir Next';
  background-image: $background-color, $home-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#starships-list-page {
  background: linear-gradient(to bottom, #04151fd0, #010f16d7, #05121d),
    $starships-background;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
