* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 50%;
  font-family: 'Proxima Nova', Verdana, 'Avenir Next';
  background-image: $background-color, $home-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#starships-list-page {
  background: linear-gradient(to bottom, #03101dec, #010f16d3, #10202b),
    $starships-background;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
