$whitey: #f0f0f0;
$duration: 0.5s;
$distance: 60px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.navbar-brand {
  color: rgb(255, 255, 255);
  &:hover {
    color: rgb(255, 255, 255);
  }
}
.nav-item {
  a {
    color: rgb(255, 255, 255);
  }
  .router-link-active {
    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 10px;
      right: 10px;
      height: 2px;
      background-color: $whitey;
    }
    &:hover {
      border-bottom: transparent;
    }
  }
  color: $whitey;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 8px;
  &:hover {
    a {
      color: $whitey;
    }
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: $whitey;
  }
  &:before {
    opacity: 0;
    transform: translateY(-$distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }
  &:after {
    opacity: 0;
    transform: translateY($distance/2);
    transition: transform $duration $easeOutBack, opacity $duration;
  }
  &:hover,
  &:focus {
    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }
}
