body {
  font-family: 'Proxima Nova', Verdana, 'Avenir Next';
}
#home {
  background-image: url('../images/HomePageBackground.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
img {
  min-height: 100%;
}
